python-docx
presidio-analyzer
spacy
faker
phonenumbers
fastapi
python-multipart
uvicorn
fastapi
uvicorn
python-multipart
python-docx
presidio-analyzer
spacy
faker
phonenumbers
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl